<h2>Hello {{user.name}} {{user.lastName}}</h2>
<h2>Tu usuario es {{user.user}}</h2>
<p>Tu email es {{user.email}}</p>
<p>Tu edad es {{user.edad}}</p>
<p>Tu estatura es {{user.estatura}}</p>
<p>Tu peso es {{user.peso}}</p>
<p>Tu GEB es {{user.GEB}}</p>
<a href="/update">Modifica tus datos</a>
<br><br>
<a href="/logout">
  <button>Logout</button>
</a>